<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<property name="LOG_DIR" value="logs" />
    <property name="LOG_FILE" value="delivery.log" />
    <property name="FILE_HISTORY" value="5" />
    
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_FILE}</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
	        <fileNamePattern>${LOG_DIR}/delivery.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>${FILE_HISTORY}</maxHistory>
    	</rollingPolicy>
	    <encoder>
	    	<pattern>[%d{dd/MM/yy HH:mm:ss:SSS}] %-5level %logger{35} - %m%n</pattern>
	    </encoder>
	</appender> 
   	
	<logger name="org.springframework" level="INFO">
    	<appender-ref ref="FILE"/>
	</logger>
	
   	<logger name="br.com.vehicle.delivery" level="DEBUG">
       <appender-ref ref="FILE"/>
   </logger>
</configuration>